::root {
    --blood: rgba(122, 0, 0);
    --ash: rgba(97, 97, 97);
}

body {
    background-color: rgba(97, 97, 97);
}

#content {
    height: 10em;
}

.bat {
    height: 3em;
}

.fog {
    filter: invert(14%) sepia(4%) saturate(434%) hue-rotate(169deg) brightness(90%) contrast(91%);
}

.wisp {
    filter: opacity(25%)
}

.ghost {
    filter: opacity(50%);
}

.ghoul {
    filter: opacity(75%)
}

.tipsy {
   transform: rotate(10deg);
}

.boozy {
    transform: rotate(20deg);
}

.drunk {
    transform: rotate(30deg);
}

.confused {
    transform: rotate(-10deg);
}

.disoriented {
    transform: rotate(-20deg);
}

.lost {
    transform: rotate(-30deg);
}

.mirror {
    transform: scaleX(-1);
}

.fairy {
    transform: scale(0.25)
}

.dwarf {
    transform: scale(0.75)
}

.giant {
    transform: scale(1.25)
}

.goliath {
    transform: scale(2)
}
