@font-face {
    font-family: "Cinzel Decorative";
    src: 
        url("./assets/fonts/CinzelDecorative-Black.woff2") format("woff2"),
        url("./assets/fonts/CinzelDecorative-Black.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Cinzel Decorative";
    src: 
        url("./assets/fonts/CinzelDecorative-Bold.woff2") format("woff2"),
        url("./assets/fonts/CinzelDecorative-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Cinzel Decorative";
    src: 
        url("./assets/fonts/CinzelDecorative-Regular.woff2") format("woff2"),
        url("./assets/fonts/CinzelDecorative-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Noto Serif";
    src: 
        url("./assets/fonts/NotoSerifDisplay-Regular.woff2") format("woff2"),
        url("./assets/fonts/NotoSerifDisplay-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Noto Serif";
    src: 
        url("./assets/fonts/NotoSerifDisplay-Italic.woff2") format("woff2"),
        url("./assets/fonts/NotoSerifDisplay-Italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Tan";
    src: 
        url("./assets/fonts/TAN.woff2") format("woff2"),
        url("./assets/fonts/TAN.woff") format("woff");
}

:root {
    --blood: rgba(122, 0, 0);
    --ash: rgba(97, 97, 97);
    --bone: rgb(255, 255, 255);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body, html {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--ash);
    overflow-x: hidden;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

nav, #content {
    margin: auto;
    width: 60%; /* use clamp later, find good width */
    background-color: var(--blood);
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    padding: 0 5%;

    font-family: "Cinzel Decorative";
    font-weight: bold;
    font-size: 3em;
}

nav > button {
    background-color: var(--blood);
    border: none;

    color: var(--bone)
}

#content {
    height: 100%;
}

.bat {
    height: 3em;
    position: absolute;
}

.wisp {
    filter: opacity(25%)
}

.ghost {
    filter: opacity(50%);
}

.ghoul {
    filter: opacity(75%)
}

.tipsy {
   transform: rotate(10deg);
}

.boozy {
    transform: rotate(20deg);
}

.drunk {
    transform: rotate(30deg);
}

.confused {
    transform: rotate(-10deg);
}

.disoriented {
    transform: rotate(-20deg);
}

.lost {
    transform: rotate(-30deg);
}

.jump {
    margin-top: -1em;
}

.fly {
    margin-top: -2em;
}

.dig {
    margin-top: 1em;
}

.tunnel {
    margin-top: 2em;
}

.shuffleL {
    margin-left: -2em;
}

.shuffleR {
    margin-left: 2em;
}

.slideL {
    margin-left: -3em;
}

.slideR {
    margin-left: 3em;
}

.mirror {
    transform: scaleX(-1);
}

.fairy {
    transform: scale(0.25)
}

.dwarf {
    transform: scale(0.75)
}

.giant {
    transform: scale(1.25)
}

.goliath {
    transform: scale(2)
}
